body, div, input, select, button {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0 20px;
}
header{
    text-align: center;
}
main {
    display: flex;
    grid-template-columns: auto 300px;
    justify-content: center;
    align-items: center;
}
h1{
    padding:0 0.5rem ;
    margin-bottom: 1rem;
}
hr {
    margin: 20px 0;
}

label {
    /* margin-right: 3ex; */
    /* white-space: nowrap; */
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 400;
}
select{
    background: #ddd;
}
svg {
    margin: 20px 0;
    overflow: visible;
}
#svg-render-outline{
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}
textarea {
    min-height: 300px;
    width: 100%;
    max-width: 800px;
    max-height: 500px;
    border-radius: 0.25rem;
    padding:0.5rem 0.875rem;
    box-sizing: border-box;
    outline: none;
    border: 2px solid #ccc;
    transition: 0.3s ease-out;
    
}
textarea:focus{
    border-color: #FF7F50;
}
.buttons-container{
    margin: 1rem 0;
    
}
.input-holder{
    margin-bottom: .875rem ;
    display: inline-block;
    /* white-space:nowrap; */
    box-shadow: 0 6px 12px #0002;
    padding: 0.625rem;
    border-radius: 0.25rem;
    max-width: 100%;
    background-color: #fff;
    width: 90%;
}
.input{
    padding: 0.375rem 0.5rem;
    border: 2px solid #d4d6d5 ; /* coral color*/
    border-radius: 0.25rem;
    outline: none;
    display: inline-block;
    /* margin-left: 0.25rem; */
    font-size: .9rem;
    
}
.input:focus{
    border: 2px solid #FF7F50;
}
.row {
    display: flex;
}
.column {
    flex: 50%;
    margin: 1rem;
}
.holePositionLabel{
    display: inline-block;
}
.holePosition {
    width: 90%;
}

#left-column {
    text-align: center;
}